{% extends 'base.html.twig' %}

{% block title %}
    Bucket-List - Accueil
{% endblock %}

{% block body %}
    <p>Don't you need to write a wish ?</p>
    <p>Here you are ! Just click <a href="{{ asset('wish/add') }}">Here</a></p>
{% endblock %}
