{% extends 'base.html.twig' %}

{% block title %}
    Bucket-List - Accueil
{% endblock %}

{% block body %}
    <div class="home">
        <p>Don't you need to wish something ?</p>
        <img class="home-image" src="{{ asset('resources/images/pissenlit.jpg') }}">
        <p>Here you are ! Just click <a href="{{ path('wish_add') }}">Here</a></p>
    </div>
{% endblock %}
