@font-face {
    font-family: Black-Way;
    src: local("Black-Way"), url("../resources/fonts/BlackWay.otf");
}
@font-face {
    font-family: Strange-Tales;
    src: local("Strange-Tales"), url("../resources/fonts/StrangeTales.ttf");
}
@font-face {
    font-family: Calling-Code;
    src: local("Calling-Code"), url("../resources/fonts/CallingCode-Regular.ttf");
}
*{
    margin:0;
    padding:0;
}
body{
    height:100%;
    font-family: CallingCode, monospace;
}
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.header {
    padding-top: 20px;
    background: #16A085;
}
.header nav a {
    color: #E5E8E8;
    text-transform: uppercase;
    font-family: Strange-Tales, fantasy;
    padding: 0 50px;
}
.header nav a:hover {
    color: #F39C12;
}

.header nav {
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 5px;
}

.logo-card {
    padding-left: 100px;
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}
.logo-card a {
    color: #531E80;
}
.logo-card a:hover {
    color: #8030C3;
}

span.logo {
    margin-left: 10px;
    font-family: Black-Way, sans-serif;
    font-size: 40px;
    font-weight: 500;
    vertical-align: middle;
}

.connected-card {
    font-family: Calling-Code, monospace;
    font-size: large;
    color: #E5E8E8;
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.connected-card i {
    font-size:22px;
}
.connected-card a {
    color: #E5E8E8;
}
.connected-card a:hover {
    color: #E5E8E8;
}

.body {
    margin-top: 20px;
    margin-left: 40px;
}
h2 {
    text-align: left;
    padding-left: 100px;
    padding-bottom: 1em;
    font-family: Black-Way, sans-serif;
}
h3 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.home {
    margin: 0 auto;
    width: 80%;
    height: 60%;
}
.home p {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Strange-Tales, serif;
    padding: 2em 0;
}
.home-image {
    display: block;
    margin-right: auto;
    margin-left:auto;
    width: 60%;
}
.home a {
    color: #531E80;
}
.home a:hover {
    color: #8030C3;
}
.wish-list {
    padding-left: 50px;
    width: 70%;
}
.wish-list h2 {
    font-family: Black-Way, sans-serif;
}
.author {
    color: #9E9D24
}

.category {
    color: #F39C12;
}

.detail {
    margin: 20px;
}
.detail span {
    font-style: italic;
    font-size: small;
    color: #9E9D24;
    padding-top: 1em;
}
.detail span a {
    color: #F39C12;
}
.detail span a:hover {
    color: #B0413E;
}
.detail p {
    padding-top: 2em;
}

.team-member {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    height: 300px;

}
.left {
    width: 30%;
    float: left;
}
.right {
    width: 65%;
    float: right;
}

.legend {
    font-size: smaller;
    color: #17202A;
    padding-bottom: 1em;
}
.description {
    font-size: smaller;
    width: 80%;
}
.team-member img {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #D0D3D4;
}

footer {
    display: block;
    text-align: center;
    background: #E5E8E8;
    color: #F39C12;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 30px 0;
    position: absolute;
}
