{% extends 'base.html.twig' %}

{% block title %}Détail du wish{% endblock %}

{% block body %}

<div class="detail">
    <h1>Wish details for : "{{ wish.title | capitalize }}"</h1>
    <span>
        Author : {{ wish.author }}
        on {{ wish.dateCreated | date("Y-m-d") }}
    </span>
    <p>{{ wish.description | capitalize | nl2br }}</p>
</div>
{% endblock %}
