{% extends 'base.html.twig' %}

{% block title %}Wish-List{% endblock %}

{% block body %}

<div class="wish-list">

    <h2>Wish-list</h2>
    <div class="list-group">
        {% for wish in wishes %}
                <a
                        href="{{ path('wish_detail',{'id': wish.id}) }}"
                        class="list-group-item list-group-item-action"
                >
                    {{ wish.title | capitalize }}
                    <span>
                        by {{ wish.author }}
                    </span>
                    <span>
                        ({{ wish.category.name }})
                    </span>
                </a>
        {% else %}
            <p>No wishes at this time.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
